// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Green
$green-primary-color: green;

//Palette Blue
$blue-primary-color: green;

$primary-color: #4A6670;
$secondary-color: #668F80;
$brand-primary:#A0AF84 ;
$brand-secundaty: #A0AF84;
$pink: #D6A2AD;



