.ciudadess {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-inline: 3vw;

    
  }
  
  .ciudadbox {
    width: 2%;
     img{
        height: 10px;
    }
  }
  