.ciudadess {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 10px;
    //margin-inline: 3vw;

    .ciudadBox {
        width: 2%;
         img{
            height: 10px;
        }
      }
    

  }
  
  