
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Fredericka+the+Great&display=swap');

.home {
  h1 {
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 4rem;
    color: $primary-color;
    
  }

  
  .menu{
    background: $pink;
    color: rgb(3, 3, 3);
    height: 45px;
    padding-left: 18px;
    font-family: 'BhuTuka Expanded One';
    
    


 
    
    ul, li {
      margin: 0 auto;
      padding: 0;
      list-style: none
     

  
    }
    ul{
      width: 100%;
    }
    li{
      float: left;
      display: inline;
      position: relative;
    
      a:hover{
        color: $primary-color;
        background: #F2F2F2;
      }
      &:hover{
        display: block
      }
    }
    a {
      display: block;
      line-height: 45px;
      padding: 0 14px;
      text-decoration: none;
      color: #000000;
      font-size: 1rem;
    }
  }
}

.portada{
  
  font-family:'Fredericka the Great', cursive; 
  font-size: 3rem;
  height: 100vh;
  text-align: center;
  padding-top: 5%;
  color: black;
  background: linear-gradient(to right, rgb(182, 180, 180), rgb(255, 255, 255));
  border: solid 30px $pink;
  
  
  
}

img {
  height: 15rem;
  padding-bottom: 5%;
}

.ciudadess,
.comunidades {
  font-family: 'BhuTuka Expanded One', cursive;
  display: flex;
  flex-wrap: wrap;
  margin-inline: 3vw;
  align-items: stretch;
  gap: 1rem;
  justify-content: space-between;
  .divPadre {
    border-radius: 16px;
    border: solid #901b8c;
    width: 20%;
    padding: 1rem;
    box-shadow: #D6A2AD 0px 1px 1px 0px inset,
      #327f4f40 0px 50px 100px -20px,
      rgba(135, 54, 131, 0.3) 0px 30px 60px -30px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #D6A2AD; /* Old browsers */
    background: -moz-linear-gradient(
      top,
      #eeeeee 0%,
      #cccccc 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      top,
      #eeeeee 0%,
      #7a4d4d 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to bottom,
      #D6A2AD 0%,
      #fffdfd 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    img {
      height: 80px;
      margin: 1rem auto;
      display: block;
    }
    p {
      margin-bottom: 1rem;
      span {
        font-weight: bold;
      }
    }
  }
}


.ciudadesbonitas{


  font-family:'Fredericka the Great', cursive; 
  width: 100vw;
  height: 10vw;
  margin-bottom: 15%;
  font-size: 3rem;
  text-align: center;
  
  


}



.comunidadesbonitas{

  font-family:'Fredericka the Great', cursive; 
  width: 100vw;
  height: 10vw;
  margin-bottom: 15%;
  font-size: 3rem;
  text-align: center;
  

}